nav {
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

#myNav {
    box-shadow: 0 0 0 0;
    color: #000000;
    float: none;
}

.navItem {
    /* display: inline-block; */
    margin: auto;
    text-align: center;
    color: black;
}

#nav1 {
    text-align: left;
    float: none;
    color: black;
}

#nav2 {
    text-align: left;
    float: none;
    color: black;
}

#nav3 {
    text-align: left;
    float: none;
    color: black;
}

nav ul a{
    float: left;
    color: black;
}

.navMobile{
    font-family: 'Macondo Swash Caps', cursive;
    font-size: 2em;
    font-weight: bold;
}

.material-icons{
    color: black;
}

